.nav {
  background-color: #000;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-link-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 40px;
    cursor: pointer;

    .nav-link-text {
      text-transform: uppercase;
      color: #fff;
      font-size: 40px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color 0.5s ease;

      .nav-link-text {
        transform: scale(1.1);
        transition: transform 0.2s ease;
      }
    }
  }
}