<nav class="nav">
    <div class="nav-link-container">
        <div class="nav-link" routerLink="home">
            <span class="nav-link-text">home</span>
        </div>
        <div class="nav-link">
            <span class="nav-link-text">play</span>
        </div>
        <div class="nav-link">
            <span class="nav-link-text">rythm</span>
        </div>
        <div class="nav-link" routerLink="about-us">
            <span class="nav-link-text">a propos</span>
        </div>
    </div>
</nav>
