<nav class="nav">
    <div class="nav-link-container">
        <div class="nav-link" routerLink="home">
            <span class="nav-link-text">home</span>
        </div>
        <div class="nav-link" routerLink="quiz">
            <span class="nav-link-text">play</span>
        </div>
        <div class="nav-link">
            <span class="nav-link-text">rhythm</span>
        </div>
        <div class="nav-link" routerLink="about-us">
            <span class="nav-link-text">about us</span>
        </div>
    </div>
</nav>
