<div class="container">
    <div class="rhythm">
        <h1 #scoreText>SCORE: 0</h1>
        <div class="center-div" style="position: relative">
            <canvas #canvaBackground width="500" height="500" ></canvas>
            <canvas #canvaCircles width="500" height="500" margin="0" padding="0"></canvas>
        </div>
        <div class="rulesBox">
            <h1>Règles du jeu</h1>
            <h2>PARFAIT ! : +400</h2>
            <h2>Trop tôt ! : +150</h2>
            <h2>Trop tard ! : +50</h2>
            <h2>Raté ! : -10</h2>
            <h2>Mauvaise touche ! : -15</h2>
        </div>

        <h1 #comment>Appuyez 'Echap' pour quitter</h1>
    </div>
    <app-footer></app-footer>
</div>