<div #scroll class="scrolling">
    <div class="home-1 box">
        <div class="home-1-image">
            <img src="assets/earth_with_hand.png">
        </div>
        <div class="home-1-text">
            <h1>nuit de l'info</h1>
            <h1>2023</h1>
        </div>
    </div>
    <div class="home-2 box">
        <h1 class="home-2-title">FAIRE FACE AU CHANGEMENT CLIMATIQUE : LE VRAI DU FAUX</h1>
        <div class="home-2-container">
            <div class="home-2-image">
                <img src="assets/ecology.png">
            </div>
            <div class="home-2-text">
                <h2>Réchauffement Climatique</h2>
                <div>
                    <h3>Qu’est ce que c’est ?</h3>
                    <p>
                        Le réchauffement climatique est un phénomène caractérisé par une augmentation progressive de la température moyenne de la surface de la Terre. Ce changement climatique est principalement attribué à l'augmentation des concentrations de gaz à effet de serre dans l'atmosphère, résultant en grande partie des activités humaines telles que la combustion des combustibles fossiles (charbon, pétrole, gaz naturel), la déforestation et d'autres processus industriels.
                    </p>
                    <h3>Les conséquences ?</h3>
                    <p>
                        Les conséquences du réchauffement climatique comprennent des phénomènes météorologiques extrêmes tels que des tempêtes plus fréquentes et plus intenses, des vagues de chaleur, des inondations, la fonte des glaciers et des calottes glaciaires, l'élévation du niveau de la mer, des changements dans les régimes de précipitations, et des perturbations des écosystèmes. Ces impacts ont des répercussions sur la biodiversité, l'agriculture, les ressources en eau, la santé humaine, et de nombreux autres aspects de la vie sur Terre.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-3 box">
        <div class="home-3-container">
            <div class="home-3-text">
                <h2>IDEES PRECONCUES</h2>
                <p>
                    Le réchauffement climatique n'est pas réel : Certains individus nient l'existence du réchauffement climatique en prétendant que les données scientifiques sont fausses ou manipulées. Cependant, la grande majorité des scientifiques et des organisations climatologiques reconnaissent le réchauffement climatique comme un phénomène réel et en grande partie causé par les activités humaines.
                    <br>
                    <br>
                    Le changement climatique est naturel et cyclique : Certains pensent que les variations climatiques font partie d'un cycle naturel de la Terre et que le réchauffement actuel est simplement une phase de ce cycle. Bien que la Terre ait connu des changements climatiques naturels par le passé, les données scientifiques montrent que l'activité humaine est maintenant le principal moteur du réchauffement climatique actuel.
                    <br>
                    Les scientifiques ne sont pas d'accord sur la question : Certains peuvent prétendre qu'il existe un débat significatif parmi les scientifiques quant à la cause du réchauffement climatique. En réalité, la grande majorité des experts en climatologie s'accordent sur le fait que les activités humaines, en particulier les émissions de gaz à effet de serre, sont la principale cause du réchauffement observé.
                    <br>
                    <br>
                    Il est trop tard pour faire quelque chose : Certains peuvent penser que les actions visant à atténuer le réchauffement climatique sont inutiles ou trop tardives. Bien que des impacts importants soient déjà observables, des mesures peuvent encore être prises pour limiter les conséquences futures en réduisant les émissions de gaz à effet de serre et en adoptant des pratiques plus durables.
                </p>
            </div>
        </div>
    </div>
    <div class="home-5">
        <img src="assets/iceberg.png" alt="">
        <div class="home-5-legend">
            <span>
                <h1>Iceberg</h1>
                <h2>Greenland</h2>
            </span>
            <a href="https://unsplash.com/fr/@william_bossen">@william_bossen</a>
        </div>
    </div>
    <div class="home-4 box">
        <div class="home-4-container">
            <div class="home-4-text">
                <h2>LES SOLUTIONS</h2>
                <div class="home-4-text-div">
                    <p>
                        Transition vers les énergies renouvelables : Promouvoir et investir massivement dans les énergies renouvelables, telles que l'énergie solaire, éolienne, hydraulique, et géothermique. Ces sources d'énergie produisent moins de gaz à effet de serre que les combustibles fossiles.
                        <br><br>
                        Amélioration de l'efficacité énergétique : Mettre en œuvre des mesures visant à accroître l'efficacité énergétique dans les secteurs résidentiel, commercial, industriel et des transports. Cela comprend l'utilisation de technologies plus efficaces, la conception de bâtiments durables et l'amélioration des systèmes de transport public.
                        <br><br>
                        Développement du stockage de l'énergie : Investir dans la recherche et le développement de technologies de stockage de l'énergie pour surmonter les défis liés à l'intermittence des énergies renouvelables, permettant ainsi une utilisation plus fiable et généralisée de ces sources.
                        <br><br>
                        Réduction de la déforestation et promotion de la reforestation : Les arbres absorbent le dioxyde de carbone de l'atmosphère. La préservation des forêts existantes, la lutte contre la déforestation et la promotion de la reforestation sont cruciales pour absorber les émissions de carbone.
                    </p>
                    <p>
                        Promotion de l'agriculture durable : Encourager des pratiques agricoles durables, telles que la gestion des sols, l'agroforesterie et la réduction de l'utilisation d'engrais azotés, peut contribuer à réduire les émissions de gaz à effet de serre provenant de l'agriculture.
                        <br><br>
                        Électrification des transports : Promouvoir l'électrification des transports en encourageant l'utilisation de véhicules électriques et en améliorant les infrastructures de recharge. Cela réduit la dépendance aux combustibles fossiles dans le secteur des transports.
                        <br><br>
                        Réglementation et normes environnementales : Mettre en place des réglementations strictes et des normes environnementales pour les industries, les véhicules, les centrales électriques et d'autres sources émettrices de gaz à effet de serre.
                        <br><br>
                        Éducation et sensibilisation : Sensibiliser le public aux enjeux du changement climatique et promouvoir des comportements durables. Une population bien informée est plus encline à soutenir des politiques et des initiatives visant à réduire les émissions de gaz à effet de serre.
                        <br><br>
                        Investissements dans la recherche et le développement : Financer la recherche et le développement de nouvelles technologies vertes et durables pour continuer à améliorer les solutions existantes et en découvrir de nouvelles.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
